# Environnements virtuels et secrets
env/
.env/

# Fichiers compilés Python
*.pyc
__pycache__/

# Bases de données SQLite
*.sqlite3

# Logs et sauvegardes
*.log
*.bak

# Médias et fichiers statiques générés
media/
static/

# Fichiers de configuration IDE
.vscode/
.idea/

# Rapports de tests et couverture
.tox/
.coverage
htmlcov/
.pytest_cache/

# Fichiers de déploiement
*.tar.gz
*.zip

# Migrations compilées
*/migrations/*.pyc
*/migrations/__pycache__/

# Fichiers temporaires
*.swp
*.swo
