# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# DJANGO
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# =========================
# ENVIRONNEMENTS VIRTUELS
# =========================
env/
venv/
.venv/
ENV/

# =========================
# VARIABLES D’ENVIRONNEMENT
# =========================
.env
.env.*

# =========================
# MIGRATIONS (optionnel)
# =========================
**/migrations/*.py
!**/migrations/__init__.py

# =========================
# MEDIA & STATIC
# =========================
media/
staticfiles/
static/

# =========================
# FICHIERS IDE / EDITEURS
# =========================
.vscode/
.idea/
*.swp
*.swo
*.bak

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TESTS & COUVERTURE
# =========================
.coverage
htmlcov/
.pytest_cache/
.tox/

# =========================
# DEPENDANCES
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# BUILD / DISTRIBUTION
# =========================
build/
dist/
*.egg-info/
