repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
- repo: https://github.com/pycqa/flake8
  rev: 6.1.0   # version récente compatible
  hooks:
    - id: flake8
      language_version: python3
      # optional: si vous voulez des linter-plugins, les lister dans additional_dependencies
      # additional_dependencies: [flake8‑docstrings, flake8‑someplugin]
      # optional: args: [--max-line-length=88, --ignore=E203,W503]
