<!-- ======== Pied de page Full Page ======== -->
<footer class="bg-dark text-white w-100">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-4 mb-2">
                <h6 class="fw-bold">KARINZI SAB COMPANY "KASACO"</h6>
                <p class="mb-1 small">* Vente et importation des véhicules locales</p>
                <p class="mb-1 small">* Vente et importation des véhicules en ligne</p>
                <p class="mb-0 small">* Garages</p>
            </div>
            <div class="col-md-4 mb-2">
                <h6 class="fw-bold">Contact & Infos Légales</h6>
                <p class="mb-0 small">Exemple: contact@kasaco.com</p>
            </div>
        </div>
        <div class="text-center mt-2">
            <p class="mb-0 small">&copy; KASACO 2025-2026. Mr.Django.Z-Pro.</p>
        </div>
    </div>
</footer>
